/* [project]/src/app/globals.css [app-client] (css) */
@layer properties;
@layer theme, base, components, utilities;

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-red-500: oklch(63.7% .237 25.331);
    --color-red-600: oklch(57.7% .245 27.325);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-white: #fff;
    --spacing: .25rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --tracking-wider: .05em;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --radius-xl: .75rem;
    --radius-2xl: 1rem;
    --radius-4xl: 2rem;
    --ease-out: cubic-bezier(0, 0, .2, 1);
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-primary: var(--p);
    --color-primary-content: var(--pc);
    --color-secondary: var(--s);
    --color-secondary-content: var(--sc);
    --color-tertiary-content: var(--tc);
    --color-accent: var(--a);
    --color-neutral: var(--n);
    --color-border: var(--b);
    --color-marquee: var(--marquee);
    --color-tag: #ffa800;
    --animate-fade-in: fade-in .5s ease-out 1;
    --animate-fade-up: fade-up .3s ease-out 1;
    --background-image-large-glow: url("/_next/static/media/bg-lg.36a20246.svg");
    --background-image-small-glow: url("/_next/static/media/bg-sm.487648ef.svg");
    --font-inter: Inter, sans-serif;
  }
}

@layer base {
  *, :after, :before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea, ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: #0000;
    opacity: 1;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit, ::-webkit-datetime-edit-year-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]), ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer utilities {
  .invisible {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .relative {
    position: relative;
  }

  .static {
    position: static;
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .top-1\/2 {
    top: 50%;
  }

  .top-16 {
    top: calc(var(--spacing) * 16);
  }

  .-right-\[40\%\] {
    right: -40%;
  }

  .right-0 {
    right: calc(var(--spacing) * 0);
  }

  .right-6 {
    right: calc(var(--spacing) * 6);
  }

  .bottom-4 {
    bottom: calc(var(--spacing) * 4);
  }

  .bottom-full {
    bottom: 100%;
  }

  .left-0 {
    left: calc(var(--spacing) * 0);
  }

  .z-0 {
    z-index: 0;
  }

  .z-10 {
    z-index: 10;
  }

  .z-20 {
    z-index: 20;
  }

  .z-50 {
    z-index: 50;
  }

  .mx-2 {
    margin-inline: calc(var(--spacing) * 2);
  }

  .mx-3 {
    margin-inline: calc(var(--spacing) * 3);
  }

  .mx-auto {
    margin-inline: auto;
  }

  .my-2 {
    margin-block: calc(var(--spacing) * 2);
  }

  .my-4 {
    margin-block: calc(var(--spacing) * 4);
  }

  .my-8 {
    margin-block: calc(var(--spacing) * 8);
  }

  .my-14 {
    margin-block: calc(var(--spacing) * 14);
  }

  .mt-2 {
    margin-top: calc(var(--spacing) * 2);
  }

  .mt-3 {
    margin-top: calc(var(--spacing) * 3);
  }

  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }

  .mt-5 {
    margin-top: calc(var(--spacing) * 5);
  }

  .mt-6 {
    margin-top: calc(var(--spacing) * 6);
  }

  .mt-8 {
    margin-top: calc(var(--spacing) * 8);
  }

  .mt-auto {
    margin-top: auto;
  }

  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }

  .mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }

  .mb-5 {
    margin-bottom: calc(var(--spacing) * 5);
  }

  .mb-8 {
    margin-bottom: calc(var(--spacing) * 8);
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .inline {
    display: inline;
  }

  .inline-block {
    display: inline-block;
  }

  .inline-flex {
    display: inline-flex;
  }

  .size-2 {
    width: calc(var(--spacing) * 2);
    height: calc(var(--spacing) * 2);
  }

  .size-6 {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
  }

  .size-11 {
    width: calc(var(--spacing) * 11);
    height: calc(var(--spacing) * 11);
  }

  .size-56 {
    width: calc(var(--spacing) * 56);
    height: calc(var(--spacing) * 56);
  }

  .size-\[7px\] {
    width: 7px;
    height: 7px;
  }

  .size-\[10px\] {
    width: 10px;
    height: 10px;
  }

  .size-\[12px\] {
    width: 12px;
    height: 12px;
  }

  .size-\[18px\] {
    width: 18px;
    height: 18px;
  }

  .size-full {
    width: 100%;
    height: 100%;
  }

  .h-3 {
    height: calc(var(--spacing) * 3);
  }

  .h-16 {
    height: calc(var(--spacing) * 16);
  }

  .h-\[80px\] {
    height: 80px;
  }

  .h-\[100px\] {
    height: 100px;
  }

  .h-\[120dvw\] {
    height: 120dvw;
  }

  .h-auto {
    height: auto;
  }

  .h-dvh {
    height: 100dvh;
  }

  .h-full {
    height: 100%;
  }

  .min-h-48 {
    min-height: calc(var(--spacing) * 48);
  }

  .min-h-\[18\.75rem\] {
    min-height: 18.75rem;
  }

  .min-h-\[250px\] {
    min-height: 250px;
  }

  .min-h-\[560px\] {
    min-height: 560px;
  }

  .min-h-\[calc\(dvh-4rem\)\] {
    min-height: calc(dvh - 4rem);
  }

  .w-3 {
    width: calc(var(--spacing) * 3);
  }

  .w-\[14px\] {
    width: 14px;
  }

  .w-\[120dvw\] {
    width: 120dvw;
  }

  .w-\[150px\] {
    width: 150px;
  }

  .w-dvw {
    width: 100dvw;
  }

  .w-full {
    width: 100%;
  }

  .w-max {
    width: max-content;
  }

  .max-w-\[1200px\] {
    max-width: 1200px;
  }

  .max-w-full {
    max-width: 100%;
  }

  .min-w-32 {
    min-width: calc(var(--spacing) * 32);
  }

  .min-w-48 {
    min-width: calc(var(--spacing) * 48);
  }

  .flex-1 {
    flex: 1;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .-translate-y-1\/2 {
    --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .rotate-90 {
    rotate: 90deg;
  }

  .transform {
    transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
  }

  .animate-fade-in {
    animation: var(--animate-fade-in);
  }

  .animate-fade-up {
    animation: var(--animate-fade-up);
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-text {
    cursor: text;
  }

  .resize {
    resize: both;
  }

  .resize-none {
    resize: none;
  }

  .list-outside {
    list-style-position: outside;
  }

  .list-\[circle\] {
    list-style-type: circle;
  }

  .list-\[square\] {
    list-style-type: square;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-col-reverse {
    flex-direction: column-reverse;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .place-content-center {
    place-content: center;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .gap-0\.5 {
    gap: calc(var(--spacing) * .5);
  }

  .gap-1 {
    gap: calc(var(--spacing) * 1);
  }

  .gap-1\.5 {
    gap: calc(var(--spacing) * 1.5);
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }

  .gap-8 {
    gap: calc(var(--spacing) * 8);
  }

  .gap-10 {
    gap: calc(var(--spacing) * 10);
  }

  .gap-16 {
    gap: calc(var(--spacing) * 16);
  }

  .gap-20 {
    gap: calc(var(--spacing) * 20);
  }

  .gap-\[100px\] {
    gap: 100px;
  }

  :where(.space-y-2 > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 2) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 2) * calc(1 - var(--tw-space-y-reverse)));
  }

  :where(.space-y-3 > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 3) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 3) * calc(1 - var(--tw-space-y-reverse)));
  }

  :where(.space-y-10 > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 10) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 10) * calc(1 - var(--tw-space-y-reverse)));
  }

  .self-center {
    align-self: center;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-scroll {
    overflow: scroll;
  }

  .overflow-x-auto {
    overflow-x: auto;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }

  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }

  .rounded-4xl {
    border-radius: var(--radius-4xl);
  }

  .rounded-\[12px\] {
    border-radius: 12px;
  }

  .rounded-\[14px\] {
    border-radius: 14px;
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .rounded-md {
    border-radius: var(--radius-md);
  }

  .rounded-xl {
    border-radius: var(--radius-xl);
  }

  .rounded-t-full {
    border-top-left-radius: 3.40282e38px;
    border-top-right-radius: 3.40282e38px;
  }

  .rounded-tl-full {
    border-top-left-radius: 3.40282e38px;
  }

  .rounded-tr-full {
    border-top-right-radius: 3.40282e38px;
  }

  .rounded-b-full {
    border-bottom-right-radius: 3.40282e38px;
    border-bottom-left-radius: 3.40282e38px;
  }

  .rounded-br-full {
    border-bottom-right-radius: 3.40282e38px;
  }

  .rounded-bl-full {
    border-bottom-left-radius: 3.40282e38px;
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-y-2 {
    border-block-style: var(--tw-border-style);
    border-block-width: 2px;
  }

  .border-t-2 {
    border-top-style: var(--tw-border-style);
    border-top-width: 2px;
  }

  .border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }

  .border-dotted {
    --tw-border-style: dotted;
    border-style: dotted;
  }

  .border-border {
    border-color: var(--color-border);
  }

  .border-neutral {
    border-color: var(--color-neutral);
  }

  .bg-\[\#50B359\] {
    background-color: #50b359;
  }

  .bg-\[\#3178C6\] {
    background-color: #3178c6;
  }

  .bg-\[\#B13753\] {
    background-color: #b13753;
  }

  .bg-\[\#BAA32B\] {
    background-color: #baa32b;
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .bg-neutral {
    background-color: var(--color-neutral);
  }

  .bg-neutral\/4 {
    background-color: var(--color-neutral);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .bg-neutral\/4 {
      background-color: color-mix(in oklab, var(--color-neutral) 4%, transparent);
    }
  }

  .bg-neutral\/5 {
    background-color: var(--color-neutral);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .bg-neutral\/5 {
      background-color: color-mix(in oklab, var(--color-neutral) 5%, transparent);
    }
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-transparent {
    background-color: #0000;
  }

  .bg-white\/50 {
    background-color: #ffffff80;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .bg-white\/50 {
      background-color: color-mix(in oklab, var(--color-white) 50%, transparent);
    }
  }

  .bg-linear-to-r {
    --tw-gradient-position: to right;
    background-image: linear-gradient(var(--tw-gradient-stops));
  }

  @supports (background-image: linear-gradient(in lab, red, red)) {
    .bg-linear-to-r {
      --tw-gradient-position: to right in oklab;
    }
  }

  .bg-small-glow {
    background-image: var(--background-image-small-glow);
  }

  .from-primary {
    --tw-gradient-from: var(--color-primary);
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  }

  .via-marquee {
    --tw-gradient-via: var(--color-marquee);
    --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }

  .to-primary {
    --tw-gradient-to: var(--color-primary);
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  }

  .bg-no-repeat {
    background-repeat: no-repeat;
  }

  .object-contain {
    object-fit: contain;
  }

  .object-cover {
    object-fit: cover;
  }

  .p-1\.5 {
    padding: calc(var(--spacing) * 1.5);
  }

  .p-2 {
    padding: calc(var(--spacing) * 2);
  }

  .p-3 {
    padding: calc(var(--spacing) * 3);
  }

  .p-4 {
    padding: calc(var(--spacing) * 4);
  }

  .p-5 {
    padding: calc(var(--spacing) * 5);
  }

  .p-7 {
    padding: calc(var(--spacing) * 7);
  }

  .p-8 {
    padding: calc(var(--spacing) * 8);
  }

  .p-14 {
    padding: calc(var(--spacing) * 14);
  }

  .p-\[10px\] {
    padding: 10px;
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-\[10px\] {
    padding-inline: 10px;
  }

  .px-\[14px\] {
    padding-inline: 14px;
  }

  .py-1 {
    padding-block: calc(var(--spacing) * 1);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-7 {
    padding-block: calc(var(--spacing) * 7);
  }

  .py-14 {
    padding-block: calc(var(--spacing) * 14);
  }

  .py-\[10px\] {
    padding-block: 10px;
  }

  .ps-4 {
    padding-inline-start: calc(var(--spacing) * 4);
  }

  .ps-6 {
    padding-inline-start: calc(var(--spacing) * 6);
  }

  .pt-3 {
    padding-top: calc(var(--spacing) * 3);
  }

  .pt-12 {
    padding-top: calc(var(--spacing) * 12);
  }

  .pb-3 {
    padding-bottom: calc(var(--spacing) * 3);
  }

  .pb-10 {
    padding-bottom: calc(var(--spacing) * 10);
  }

  .pl-8 {
    padding-left: calc(var(--spacing) * 8);
  }

  .text-center {
    text-align: center;
  }

  .font-inter {
    font-family: var(--font-inter);
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  .text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  .text-base {
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
  }

  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-xs {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }

  .text-\[1\.75rem\] {
    font-size: 1.75rem;
  }

  .text-\[12px\] {
    font-size: 12px;
  }

  .leading-8 {
    --tw-leading: calc(var(--spacing) * 8);
    line-height: calc(var(--spacing) * 8);
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-light {
    --tw-font-weight: var(--font-weight-light);
    font-weight: var(--font-weight-light);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-normal {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .tracking-wider {
    --tw-tracking: var(--tracking-wider);
    letter-spacing: var(--tracking-wider);
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .text-\[\#00071E\] {
    color: #00071e;
  }

  .text-accent {
    color: var(--color-accent);
  }

  .text-neutral {
    color: var(--color-neutral);
  }

  .text-neutral\/60 {
    color: var(--color-neutral);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .text-neutral\/60 {
      color: color-mix(in oklab, var(--color-neutral) 60%, transparent);
    }
  }

  .text-primary-content {
    color: var(--color-primary-content);
  }

  .text-red-500 {
    color: var(--color-red-500);
  }

  .text-red-600 {
    color: var(--color-red-600);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-secondary-content {
    color: var(--color-secondary-content);
  }

  .text-tag {
    color: var(--color-tag);
  }

  .text-tertiary-content {
    color: var(--color-tertiary-content);
  }

  .text-transparent {
    color: #0000;
  }

  .underline {
    text-decoration-line: underline;
  }

  .underline-offset-\[3px\] {
    text-underline-offset: 3px;
  }

  .shadow-\[0px_1\.66px_3\.74px_-1\.25px_\#18274B1F\] {
    --tw-shadow: 0px 1.66px 3.74px -1.25px var(--tw-shadow-color, #18274b1f);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .filter {
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-transform {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .duration-75 {
    --tw-duration: 75ms;
    transition-duration: 75ms;
  }

  .duration-150 {
    --tw-duration: .15s;
    transition-duration: .15s;
  }

  .duration-200 {
    --tw-duration: .2s;
    transition-duration: .2s;
  }

  .duration-300 {
    --tw-duration: .3s;
    transition-duration: .3s;
  }

  .duration-500 {
    --tw-duration: .5s;
    transition-duration: .5s;
  }

  .ease-linear {
    --tw-ease: linear;
    transition-timing-function: linear;
  }

  .ease-out {
    --tw-ease: var(--ease-out);
    transition-timing-function: var(--ease-out);
  }

  .placeholder\:font-thin::placeholder {
    --tw-font-weight: var(--font-weight-thin);
    font-weight: var(--font-weight-thin);
  }

  .before\:content-\[\'“\'\]:before {
    content: var(--tw-content);
    --tw-content: "“";
    content: var(--tw-content);
  }

  .after\:content-\[\'”\'\]:after {
    content: var(--tw-content);
    --tw-content: "”";
    content: var(--tw-content);
  }

  @media (hover: hover) {
    .hover\:scale-105:hover {
      --tw-scale-x: 105%;
      --tw-scale-y: 105%;
      --tw-scale-z: 105%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }

  @media (hover: hover) {
    .hover\:bg-accent\/60:hover {
      background-color: var(--color-accent);
    }

    @supports (color: color-mix(in lab, red, red)) {
      .hover\:bg-accent\/60:hover {
        background-color: color-mix(in oklab, var(--color-accent) 60%, transparent);
      }
    }
  }

  @media (hover: hover) {
    .hover\:text-accent:hover {
      color: var(--color-accent);
    }
  }

  @media (hover: hover) {
    .hover\:text-neutral:hover {
      color: var(--color-neutral);
    }
  }

  @media (hover: hover) {
    .hover\:text-neutral\/50:hover {
      color: var(--color-neutral);
    }

    @supports (color: color-mix(in lab, red, red)) {
      .hover\:text-neutral\/50:hover {
        color: color-mix(in oklab, var(--color-neutral) 50%, transparent);
      }
    }
  }

  @media (hover: hover) {
    .hover\:underline:hover {
      text-decoration-line: underline;
    }
  }

  .focus\:ring-2:focus {
    --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .focus\:ring-accent:focus {
    --tw-ring-color: var(--color-accent);
  }

  .focus\:outline-none:focus {
    --tw-outline-style: none;
    outline-style: none;
  }

  .disabled\:bg-accent\/40:disabled {
    background-color: var(--color-accent);
  }

  @supports (color: color-mix(in lab, red, red)) {
    .disabled\:bg-accent\/40:disabled {
      background-color: color-mix(in oklab, var(--color-accent) 40%, transparent);
    }
  }

  @media (width >= 40rem) {
    .sm\:hidden {
      display: none;
    }
  }

  @media (width >= 40rem) {
    .sm\:size-60 {
      width: calc(var(--spacing) * 60);
      height: calc(var(--spacing) * 60);
    }
  }

  @media (width >= 40rem) {
    .sm\:max-w-\[425px\] {
      max-width: 425px;
    }
  }

  @media (width >= 40rem) {
    .sm\:flex-row {
      flex-direction: row;
    }
  }

  @media (width >= 40rem) {
    .sm\:items-center {
      align-items: center;
    }
  }

  @media (width >= 48rem) {
    .md\:static {
      position: static;
    }
  }

  @media (width >= 48rem) {
    .md\:top-0 {
      top: calc(var(--spacing) * 0);
    }
  }

  @media (width >= 48rem) {
    .md\:-right-\[255px\] {
      right: -255px;
    }
  }

  @media (width >= 48rem) {
    .md\:right-11 {
      right: calc(var(--spacing) * 11);
    }
  }

  @media (width >= 48rem) {
    .md\:-bottom-\[450px\] {
      bottom: -450px;
    }
  }

  @media (width >= 48rem) {
    .md\:bottom-11 {
      bottom: calc(var(--spacing) * 11);
    }
  }

  @media (width >= 48rem) {
    .md\:my-12 {
      margin-block: calc(var(--spacing) * 12);
    }
  }

  @media (width >= 48rem) {
    .md\:my-16 {
      margin-block: calc(var(--spacing) * 16);
    }
  }

  @media (width >= 48rem) {
    .md\:my-\[3\.75rem\] {
      margin-block: 3.75rem;
    }
  }

  @media (width >= 48rem) {
    .md\:flex {
      display: flex;
    }
  }

  @media (width >= 48rem) {
    .md\:grid {
      display: grid;
    }
  }

  @media (width >= 48rem) {
    .md\:hidden {
      display: none;
    }
  }

  @media (width >= 48rem) {
    .md\:size-3 {
      width: calc(var(--spacing) * 3);
      height: calc(var(--spacing) * 3);
    }
  }

  @media (width >= 48rem) {
    .md\:size-5 {
      width: calc(var(--spacing) * 5);
      height: calc(var(--spacing) * 5);
    }
  }

  @media (width >= 48rem) {
    .md\:size-\[10px\] {
      width: 10px;
      height: 10px;
    }
  }

  @media (width >= 48rem) {
    .md\:size-\[20rem\] {
      width: 20rem;
      height: 20rem;
    }
  }

  @media (width >= 48rem) {
    .md\:size-\[1030px\] {
      width: 1030px;
      height: 1030px;
    }
  }

  @media (width >= 48rem) {
    .md\:h-4 {
      height: calc(var(--spacing) * 4);
    }
  }

  @media (width >= 48rem) {
    .md\:h-full {
      height: 100%;
    }
  }

  @media (width >= 48rem) {
    .md\:w-4 {
      width: calc(var(--spacing) * 4);
    }
  }

  @media (width >= 48rem) {
    .md\:w-5 {
      width: calc(var(--spacing) * 5);
    }
  }

  @media (width >= 48rem) {
    .md\:w-\[72\%\] {
      width: 72%;
    }
  }

  @media (width >= 48rem) {
    .md\:min-w-60 {
      min-width: calc(var(--spacing) * 60);
    }
  }

  @media (width >= 48rem) {
    .md\:-translate-y-0 {
      --tw-translate-y: calc(var(--spacing) * 0);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }

  @media (width >= 48rem) {
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (width >= 48rem) {
    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (width >= 48rem) {
    .md\:flex-row {
      flex-direction: row;
    }
  }

  @media (width >= 48rem) {
    .md\:gap-8 {
      gap: calc(var(--spacing) * 8);
    }
  }

  @media (width >= 48rem) {
    .md\:gap-12 {
      gap: calc(var(--spacing) * 12);
    }
  }

  @media (width >= 48rem) {
    :where(.md\:space-y-4 > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(calc(var(--spacing) * 4) * var(--tw-space-y-reverse));
      margin-block-end: calc(calc(var(--spacing) * 4) * calc(1 - var(--tw-space-y-reverse)));
    }
  }

  @media (width >= 48rem) {
    .md\:self-end {
      align-self: flex-end;
    }
  }

  @media (width >= 48rem) {
    .md\:rounded-xl {
      border-radius: var(--radius-xl);
    }
  }

  @media (width >= 48rem) {
    .md\:border-y-0 {
      border-block-style: var(--tw-border-style);
      border-block-width: 0;
    }
  }

  @media (width >= 48rem) {
    .md\:border-e {
      border-inline-end-style: var(--tw-border-style);
      border-inline-end-width: 1px;
    }
  }

  @media (width >= 48rem) {
    .md\:p-2 {
      padding: calc(var(--spacing) * 2);
    }
  }

  @media (width >= 48rem) {
    .md\:p-4 {
      padding: calc(var(--spacing) * 4);
    }
  }

  @media (width >= 48rem) {
    .md\:p-5 {
      padding: calc(var(--spacing) * 5);
    }
  }

  @media (width >= 48rem) {
    .md\:p-14 {
      padding: calc(var(--spacing) * 14);
    }
  }

  @media (width >= 48rem) {
    .md\:p-20 {
      padding: calc(var(--spacing) * 20);
    }
  }

  @media (width >= 48rem) {
    .md\:py-0 {
      padding-block: calc(var(--spacing) * 0);
    }
  }

  @media (width >= 48rem) {
    .md\:pb-4 {
      padding-bottom: calc(var(--spacing) * 4);
    }
  }

  @media (width >= 48rem) {
    .md\:text-center {
      text-align: center;
    }
  }

  @media (width >= 48rem) {
    .md\:text-3xl {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }
  }

  @media (width >= 48rem) {
    .md\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }
  }

  @media (width >= 48rem) {
    .md\:font-semibold {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }
  }

  @media (width >= 48rem) {
    .md\:first\:border-s:first-child {
      border-inline-start-style: var(--tw-border-style);
      border-inline-start-width: 1px;
    }
  }

  @media (width >= 48rem) {
    .md\:last\:ml-auto:last-child {
      margin-left: auto;
    }
  }

  @media (width >= 48rem) {
    .md\:last\:border-none:last-child {
      --tw-border-style: none;
      border-style: none;
    }
  }

  @media (width >= 48rem) {
    .md\:last\:px-0:last-child {
      padding-inline: calc(var(--spacing) * 0);
    }
  }

  @media (width >= 64rem) {
    .lg\:my-6 {
      margin-block: calc(var(--spacing) * 6);
    }
  }

  @media (width >= 64rem) {
    .lg\:size-14 {
      width: calc(var(--spacing) * 14);
      height: calc(var(--spacing) * 14);
    }
  }

  @media (width >= 64rem) {
    .lg\:size-\[25\.75rem\] {
      width: 25.75rem;
      height: 25.75rem;
    }
  }

  @media (width >= 64rem) {
    .lg\:min-h-56 {
      min-height: calc(var(--spacing) * 56);
    }
  }

  @media (width >= 64rem) {
    .lg\:min-h-\[35rem\] {
      min-height: 35rem;
    }
  }

  @media (width >= 64rem) {
    .lg\:w-\[70\%\] {
      width: 70%;
    }
  }

  @media (width >= 64rem) {
    .lg\:max-w-\[33\.75rem\] {
      max-width: 33.75rem;
    }
  }

  @media (width >= 64rem) {
    .lg\:max-w-\[50dvw\] {
      max-width: 50dvw;
    }
  }

  @media (width >= 64rem) {
    .lg\:gap-12 {
      gap: calc(var(--spacing) * 12);
    }
  }

  @media (width >= 64rem) {
    .lg\:gap-24 {
      gap: calc(var(--spacing) * 24);
    }
  }

  @media (width >= 64rem) {
    .lg\:bg-large-glow {
      background-image: var(--background-image-large-glow);
    }
  }

  @media (width >= 64rem) {
    .lg\:p-4 {
      padding: calc(var(--spacing) * 4);
    }
  }

  @media (width >= 64rem) {
    .lg\:p-7 {
      padding: calc(var(--spacing) * 7);
    }
  }

  @media (width >= 64rem) {
    .lg\:px-8 {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  @media (width >= 64rem) {
    .lg\:ps-4 {
      padding-inline-start: calc(var(--spacing) * 4);
    }
  }

  @media (width >= 64rem) {
    .lg\:pl-4 {
      padding-left: calc(var(--spacing) * 4);
    }
  }

  @media (width >= 64rem) {
    .lg\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }
  }
}

[data-theme="light"] {
  --p: #fff;
  --pc: #0d1a3b;
  --s: #edeaf4;
  --sc: #0d1a3b;
  --tc: #6b7c93;
  --a: #5565e8;
  --n: #0d1a3b;
  --b: #dfdcdc;
  --marquee: #dbe3f7;
  --gradient-start: #5565e8;
  --gradient-mid: #18f2e5;
  --gradient-end: #dbe3f7;
}

[data-theme="dark"] {
  --p: #011627;
  --pc: #607b96;
  --s: #011221;
  --sc: #5565e8;
  --tc: #99a1af;
  --a: #18f2e5;
  --n: #fff;
  --b: #1e2d3d;
  --marquee: #062b48;
  --gradient-start: #18f2e5;
  --gradient-mid: #5cc0fe;
  --gradient-end: #4ea7ff;
}

[data-theme="aqua"] {
  --p: #345da7;
  --pc: #d4deef;
  --s: #130b43;
  --sc: #5565e8;
  --tc: #d4deef;
  --a: #38ccb2;
  --n: #fff;
  --b: #1e2d3d;
  --marquee: #062b48;
  --gradient-start: #00c1d4;
  --gradient-mid: #18f2e5;
  --gradient-end: #ff6f61;
}

[data-theme="retro"] {
  --p: #fff3e0;
  --pc: #6d4c41;
  --s: #e4d8b4;
  --sc: #5d4037;
  --tc: #8c6b5e;
  --a: #f35248;
  --n: #6d4c41;
  --b: #ffe0b2;
  --marquee: #ffcc80;
  --gradient-start: #ffab40;
  --gradient-mid: #f8d5a0;
  --gradient-end: #6d4c41;
}

@layer base {
  *, :after, :before, ::backdrop, ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth !important;
}

html ::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Fira Code, monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.rehype-code-title {
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  background-color: #05101a;
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 3);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-content);
}

h2, h3 {
  scroll-margin-top: 5.25rem;
}

section {
  scroll-margin-top: 1.5rem;
}

@supports ((-webkit-hyphens: none)) {
  * {
    scroll-margin-top: 0;
  }
}

@media screen and (width >= 1024px) {
  h2, h3 {
    scroll-margin-top: 1.5rem;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar -webkit-scrollbar {
  display: none;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-space-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-gradient-position {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-via {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-to {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-via-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --tw-gradient-via-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --tw-gradient-to-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-ease {
  syntax: "*";
  inherits: false
}

@property --tw-content {
  syntax: "*";
  inherits: false;
  initial-value: "";
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    top: 5px;
  }

  100% {
    top: 0;
  }
}

@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-space-y-reverse: 0;
      --tw-border-style: solid;
      --tw-gradient-position: initial;
      --tw-gradient-from: #0000;
      --tw-gradient-via: #0000;
      --tw-gradient-to: #0000;
      --tw-gradient-stops: initial;
      --tw-gradient-via-stops: initial;
      --tw-gradient-from-position: 0%;
      --tw-gradient-via-position: 50%;
      --tw-gradient-to-position: 100%;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-ease: initial;
      --tw-content: "";
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
    }
  }
}


/* [next]/internal/font/google/fira_code_2876c3d3.module.css [app-client] (css) */
@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0NSDqFGedCMX-s.a23948ee.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh2dSDqFGedCMX-s.5470900e.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0dSDqFGedCMX-s.4d8f94f7.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3tSDqFGedCMX-s.ae6081a6.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bhZ_Wmh3mUfBsu_Q-s.dafc51b9.woff2") format("woff2");
  unicode-range: U+2000-2001, U+2004-2008, U+200A, U+23B8-23BD, U+2500-259F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh09SDqFGedCMX-s.9a91385d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3dSDqFGedA-s.p.1b3fc2df.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0NSDqFGedCMX-s.a23948ee.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh2dSDqFGedCMX-s.5470900e.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0dSDqFGedCMX-s.4d8f94f7.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3tSDqFGedCMX-s.ae6081a6.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bhZ_Wmh3mUfBsu_Q-s.dafc51b9.woff2") format("woff2");
  unicode-range: U+2000-2001, U+2004-2008, U+200A, U+23B8-23BD, U+2500-259F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh09SDqFGedCMX-s.9a91385d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3dSDqFGedA-s.p.1b3fc2df.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0NSDqFGedCMX-s.a23948ee.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh2dSDqFGedCMX-s.5470900e.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0dSDqFGedCMX-s.4d8f94f7.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3tSDqFGedCMX-s.ae6081a6.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bhZ_Wmh3mUfBsu_Q-s.dafc51b9.woff2") format("woff2");
  unicode-range: U+2000-2001, U+2004-2008, U+200A, U+23B8-23BD, U+2500-259F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh09SDqFGedCMX-s.9a91385d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3dSDqFGedA-s.p.1b3fc2df.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0NSDqFGedCMX-s.a23948ee.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh2dSDqFGedCMX-s.5470900e.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0dSDqFGedCMX-s.4d8f94f7.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3tSDqFGedCMX-s.ae6081a6.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bhZ_Wmh3mUfBsu_Q-s.dafc51b9.woff2") format("woff2");
  unicode-range: U+2000-2001, U+2004-2008, U+200A, U+23B8-23BD, U+2500-259F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh09SDqFGedCMX-s.9a91385d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3dSDqFGedA-s.p.1b3fc2df.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0NSDqFGedCMX-s.a23948ee.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh2dSDqFGedCMX-s.5470900e.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh0dSDqFGedCMX-s.4d8f94f7.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3tSDqFGedCMX-s.ae6081a6.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bhZ_Wmh3mUfBsu_Q-s.dafc51b9.woff2") format("woff2");
  unicode-range: U+2000-2001, U+2004-2008, U+200A, U+23B8-23BD, U+2500-259F;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh09SDqFGedCMX-s.9a91385d.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/uU9NCBsR6Z2vfE9aq3bh3dSDqFGedA-s.p.1b3fc2df.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Fira Code Fallback;
  src: local(Arial);
  ascent-override: 73.56%;
  descent-override: 23.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.fira_code_2876c3d3-module__j1I2Ha__className {
  font-family: Fira Code, Fira Code Fallback;
  font-style: normal;
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__205c70._.css.map*/
